*{margin: 0px; padding: 0px; font-family: 'Verdana'; box-sizing: border-box;}
ul {list-style-type: none;}
a{text-decoration: none;}
*{margin: 0px; padding: 0px; font-family: "verdana"; box-sizing: border-box;}
ul {list-style-type: none;}
a{text-decoration: none;}
header{width: 100%; border-bottom: 1px solid black; position: fixed; top: 0px; background: white;}
header .inner {width: 1180px; height: 90px; margin: 0px auto; position: relative;}
header .inner h1 {position: absolute; left: 10px; bottom: 15px;}
header .inner h1 a {font: bold 24px/1 "verdana"; color: #444;}
header .inner #gnb {position: absolute; bottom: 0px; right: 0px;}
header .inner #gnb li{float: left;}
header .inner #gnb li a { display: block; font: bold 15px/1 "verdana"; color: #555; padding: 20px 40px; transition: all 0.5s;}
header .inner #gnb li a:hover {background: #555; color: #fff;}
header .inner .util {position: absolute; top: 20px; right: 30px;}
header .inner .util li {float: left;}
header .inner .util li a {display: block; font: 12px/1 "verdana"; color: #999; padding: 0px 10px;}
section {width: 1000px; margin: 0px auto; overflow: hidden; padding-top: 120px;}
section>p {font-weight: bold; font-size: 50px;}
section article {width: 1000px; margin: 20px 0px; overflow: hidden;}
section article img {float: left; width: 50px; height: 50px;}
section article p {font-weight: bold; font-size: 25px; margin: 10px 0px;}
